<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Datawarehouse app</title>


    <link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Datawarehouse App for Otodom.pl by Robert Białas, Kamila Chwastowska, Bartek Augustyn</a>
        </div>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
              <br><br>
                    <li>
                        <a href="apartments"><i class="fa fa-edit fa-fw"></i> Pobierz mieszkania </a>
                    </li>
                    <li>
                        <a href="houses"><i class="fa fa-edit fa-fw"></i> Pobierz domy </a>
                    </li>
                    <li>
                        <a href="offices"><i class="fa fa-edit fa-fw"></i> Pobierz przestrzenie mieszkalne </a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Domy</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Pobierz domy do bazy danych ze strony otodom.pl
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form th:object="${wrapper}" action="/houses/persist" method="get">
                                    <div class="form-group">
                                        <select class="form-control" th:field="*{rentOrBuy.isToRent}">
                                            <option th:value="w">Wynajem</option>
                                            <option th:value="s">Sprzedaż</option>
                                        </select>
                                        <br>
                                        <select class="form-control" th:field="*{form.pages}">
                                            <option th:value="'5'">5</option>
                                            <option th:value="'10'">10</option>
                                            <option th:value="'20'">20</option>
                                            <option th:value="'25'">25</option>
                                            <option th:value="'100'">100</option>
                                            <option th:value="'200'">200</option>
                                            <option th:value="'500'">500</option>
                                        </select><br>
                                        <input type="submit" value="Parsuj!"/>
                                    </div>

                                    <!-- the rest of form's inputs and buttons -->

                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="webjars/bootstrap/3.2.0/js/bootstrap.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>

</html>
